@model IEnumerable<DNekrasovDB.Models.DB.News>

@{
    ViewData["Title"] = "Index";
}

<h1>News</h1>




@foreach (var item in Model) {
        
    <div>
        <h4>@Html.DisplayFor(modelItem => item.Name)</h4>
        <div>
            @Html.DisplayFor(modelItem => item.Magazine.Id)
        </div>
        <div>
            <a asp-action="Details" asp-route-id="@item.Id">Читать новость</a>
        </div>
        <hr />
    </div>        

}






@*<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Body)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Magazine)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Name)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Body)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Magazine.Id)
                </td>
                <td>
                    <a asp-action="Edit" asp-route-id="@item.Id">Edit</a> |
                    <a asp-action="Details" asp-route-id="@item.Id">Details</a> |
                    <a asp-action="Delete" asp-route-id="@item.Id">Delete</a>
                </td>
            </tr>
        }
    </tbody>
</table>*@